<section class="about-wrapper">
    <h1 class="about-child" style="font-size: 70px; margin-bottom: 0.5em;">WakBuilder</h1>
    <h1 class="about-child">built by Atti1a </h1>
    <p>This site is a fan tool made with resources Ankama has provided on the official site and on the forums. Neither I nor the site have any connection to Wakfu or Ankama.</p>
    <p>I built this tool because I wanted an easier way to search for items in the game and other tools weren't .</p>
    <p>If you want to help support this project, feel free to use the Kofi link below, and if you have any questions, bug reports, or suggestions, please send me an email at wakbuilder@gmail.com.</p>
    <a href='https://ko-fi.com/Z8Z2QF8BF' target='_blank'><img height='36' style='border:0px; height:36px; margin-top: 1em;' src='https://storage.ko-fi.com/cdn/kofi2.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
</section>