<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>WakBuilder</span>
</mat-toolbar>

<mat-drawer-container class="main-container-drawer" autosize>

  <mat-drawer #drawer mode="side">
    <nav class="nav-container">
      <h2 class="nav-child-head">Tools</h2>
      <a class="nav-child" mat-flat-button color="primary" routerLink="/item" routerLinkActive="active" ariaCurrentWhenActive="page">Items</a>
      <a class="nav-child" mat-flat-button color="primary" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
    </nav>
  </mat-drawer>

  <router-outlet></router-outlet>

</mat-drawer-container>