.main-container-drawer {
    min-height: calc(100% - 64px);
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-child {
    display: flex;
    margin: 0em 1em 1em 1em;
}

.nav-child-head {
    display: flex;
    align-self: center;
    padding-top: 1em;
}