<mat-toolbar>
    <h2>Items</h2>
    <span class="item-toolbar-spacer"></span>
    <mat-slide-toggle #verboseToggle color="primary" style="margin: 0 20px 0 0;">{{verboseToggle.checked ? "Stats Displayed" : "Stats Hidden"}}</mat-slide-toggle>
    <button mat-icon-button class="item-toolbar-search-icon" (click)="sidebar.toggle()">
        <mat-icon>search</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #sidebar mode="side" position="end">
        <div class="search-sidebar">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-slider min="0" max="230">
                <input #levelsliderstart [(ngModel)]="levelSliderStartValue" matSliderStartThumb>
                <input #levelsliderend [(ngModel)]="levelSliderEndValue" matSliderEndThumb>
            </mat-slider>
            <div style="display: flex; flex-direction: row;">
                <input matInput [(ngModel)]="levelSliderStartValue" style="width: 2em;" class="level-search-input">
                <span class="item-toolbar-spacer"></span>
                <input matInput [(ngModel)]="levelSliderEndValue" style="width: 2em;" class="level-search-input">
            </div>
        </div>
    </mat-drawer>
    <mat-grid-list cols="5" rowHeight="{{verboseToggle.checked ? getPaginatedHeight() : '1:1'}}" gutterSize="0">
        <div *ngFor="let item of getPaginatedList(pageIndex * pageSize, (pageIndex + 1) * pageSize)">
            <mat-grid-tile>
                <div class="grid-tile-contents" [ngStyle]="{'border-color': getRarityColor(item.definition.item.baseParameters.rarity)}">
                    <img src="assets/{{item.definition.item.graphicParameters.gfxId}}.png">
                    <p style="font-size: medium; text-align: center; max-width: 193px;">{{item.title.en}}</p>
                    <p style="color: grey;">Level {{getLevelFromId(item.definition.item.id)}} - {{getEquipTypeById(item.definition.item.baseParameters.itemTypeId)}}</p>
                    <p [ngStyle]="{'color': getRarityColor(item.definition.item.baseParameters.rarity)}">{{getRarity(item.definition.item.baseParameters.rarity)}}</p>

                    <div style="display: flex; flex-direction: column; align-items: center;" *ngIf="verboseToggle.checked">
                        <div *ngFor="let ef of getEffects(item.definition.item.id); index as i" class="effect-container" [ngStyle]="{
                            'background': isEven(i) ? 'grey' : 'dimgrey',
                            'border-bottom-left-radius': i == getEffects(item.definition.item.id).length - 1 ? '17px' : '0px',
                            'border-bottom-right-radius': i == getEffects(item.definition.item.id).length - 1 ? '17px' : '0px'
                        }">
                            <p style="margin: 0 12px 0 12px; font-size: small;" *ngIf="ef.effect.definition.actionId != 400">
                                {{getTextFromEffect(ef)}}
                            </p>
                        </div>
                    </div>

                </div>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</mat-drawer-container>
<mat-paginator #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="itemLength"
    [pageSize]="pageSize"
    [disabled]="false"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions"
    [hidePageSize]="false"
    [pageIndex]="pageIndex"
    aria-label="Select page">
</mat-paginator>

<!--

<div *ngFor="let item of getPaginatedList(pageIndex * pageSize, (pageIndex + 1) * pageSize)">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{item.title.en}}
                </mat-panel-title>
                <mat-panel-description>
                    Level: {{item.definition.item.level}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                {{getEquipTypeById(item.definition.item.baseParameters.itemTypeId)}}
            </p>
        </mat-expansion-panel>
    </div>

-->