.item-toolbar-spacer {
    flex: 1 1 auto;
}

.grid-tile-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid whitesmoke;
    border-radius: 20px;
    min-width: 225px;
    min-height: 225px;
}