<mat-toolbar>
    <h2>Items</h2>
    <span class="item-toolbar-spacer"></span>
    <button mat-icon-button class="item-toolbar-search-icon" (click)="sidebar.toggle()">
        <mat-icon>search</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #sidebar mode="side" position="end">
        <h2>Sidebar</h2>
    </mat-drawer>
    <mat-grid-list cols="5" rowHeight="1:1.5" gutterSize="0">
        <div *ngFor="let item of getPaginatedList(pageIndex * pageSize, (pageIndex + 1) * pageSize)">
            <mat-grid-tile>
                <div class="grid-tile-contents" [ngStyle]="{'border-color': getRarityColor(item.definition.item.baseParameters.rarity)}">
                    <img src="assets/{{item.definition.item.graphicParameters.gfxId}}.png">
                    <p style="font-size: medium; margin: 0 1em 1em 1em">{{item.title.en}}</p>
                    <p style="color: grey;">Level {{item.definition.item.level}} - {{getEquipTypeById(item.definition.item.baseParameters.itemTypeId)}}</p>
                    <p [ngStyle]="{'color': getRarityColor(item.definition.item.baseParameters.rarity)}">{{getRarity(item.definition.item.baseParameters.rarity)}}</p>
                    <div style="display: flex; flex-direction: row;">
                        <div style="display: flex; flex-direction: column; align-items: center; margin: 0 1em 0 1em;">
                            <div *ngFor="let ef of getEffectColumnOne(item.definition.item.id); index as i" style="text-align: center; width: 100px;">
                                <p>
                                    {{getTextFromEffect(ef)}}
                                </p>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; align-items: center; margin: 0 1em 0 1em;">
                            <div *ngFor="let ef of getEffectColumnTwo(item.definition.item.id); index as i" style="text-align: center; width: 100px;">
                                <p>
                                    {{getTextFromEffect(ef)}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</mat-drawer-container>

<mat-paginator #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="itemLength"
    [pageSize]="pageSize"
    [disabled]="false"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions"
    [hidePageSize]="false"
    [pageIndex]="pageIndex"
    aria-label="Select page">
</mat-paginator>

<!--

<div *ngFor="let item of getPaginatedList(pageIndex * pageSize, (pageIndex + 1) * pageSize)">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{item.title.en}}
                </mat-panel-title>
                <mat-panel-description>
                    Level: {{item.definition.item.level}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                {{getEquipTypeById(item.definition.item.baseParameters.itemTypeId)}}
            </p>
        </mat-expansion-panel>
    </div>

-->